<html>
  <head>
    <title>Now Playing</title>
    <link rel="stylesheet" href="static/style.css" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
    <header class="Header">
      <h1 class="Header-title u-willFade" data-field="player_state"></h1>
      <h2 class="Header-subtitle u-willFade" data-field="ip"></h2>
    </header>
    <main class="Content">
      <section class="Artwork">
        <div class="Artwork-container">
          <div class="Artwork-image u-willFade" data-field="image"></div>
          <canvas class="Artwork-canvas"></canvas>
        </div>
      </section>
      <aside class="Info u-willFade">
        <p class="Info-title">
          <em class="Info-label u-willFade">Song</em>
          <strong class="u-willFade" data-field="title"></strong>
        </p>
        <p class="Info-artist">
          <em class="Info-label u-willFade">Artist</em>
          <span class="u-willFade" data-field="artist"></span>
        </p>
        <p class="Info-album">
          <em class="Info-label u-willFade">Album</em>
          <em class="u-willFade" data-field="album_name"></em>
        </p>
        <p class="Info-release u-willFade">
          <em class="Info-label u-willFade">Release date</em>
          <em class="u-willFade" data-field="release_date"></em>
        </p>
        <p class="Info-playlist u-willFade">
          <em class="Info-label u-willFade">Playlist</em>
          <em class="u-willFade" data-field="playlist"></em>
        </p>
      </aside>
    </main>
    <footer class="Debug">
      <div class="Debug-datetime">
        <p class="Debug-datetimeText u-willFade" data-field="last_updated"></p>
          <div class="Debug-datetimeTextRevealer">
          <p class="Debug-datetimeText u-willFade" data-field="last_updated"></p>
        </div>
      </div>
    </footer>
    <script src="static/fetch.js"></script>
    <script src="static/particles.js"></script>
    <script src="static/script.js"></script>
  </body>
</html>
